block config
	- let title = info.projectName

block title
	title Page Title
meta(charset=info.projectEncoding)
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")