extends /core/_Layout

block content
	include ../layout/Navigation
	include ../layout/Masthead
	include ../layout/Ideal
	include ../layout/Opportunity
	include ../layout/Integration
	include ../layout/Testimonials
	include ../layout/Total
	include ../layout/Feedbacks
	include ../layout/Support
	include ../layout/Update
	include ../layout/Callback
	include ../layout/Footer