@use "../functions" as ff;
@use "media" as ff-media;

@mixin fluid-font($min-width, $max-width, $min-font-size, $max-font-size) {
  $unit1: unit($min-width);
  $unit2: unit($max-width);
  $unit3: unit($min-font-size);
  $unit4: unit($max-font-size);

  @if $unit1 == $unit2 and $unit1 == $unit3 and $unit1 == $unit4 {
    & {
      font-size: ff.rem(ff.strip-unit($min-font-size));

      @include ff-media.larger-than($min-width) {
        font-size: calc(
          ff.rem(ff.strip-unit($min-font-size)) + #{ff.strip-unit(
              $max-font-size - $min-font-size
            )} * ((100vw - #{$min-width}) / #{ff.strip-unit(
                  $max-width - $min-width
                )})
        );
      }

      @include ff-media.larger-than($max-width) {
        font-size: ff.rem(ff.strip-unit($max-font-size));
      }
    }
  }
}
