@mixin font-face($font-name, $file-name, $weight) {
  @font-face {
    font-family: #{$font-name};
    font-display: swap;
    src: url("../fonts/#{$file-name}.woff2") format("woff2"),
      url("../fonts/#{$font-name}.woff") format("woff");
    font-weight: $weight;
    font-style: normal;
  }
}
