mixin icon(name)
	if (name === 'expertise')
		svg(width='36' height='36' viewbox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg')
			path(d='M31.8143 23.835C30.86 26.0917 29.3674 28.0803 27.4671 29.6269C25.5667 31.1736 23.3164 32.2311 20.9129 32.7072C18.5094 33.1832 16.0259 33.0632 13.6795 32.3577C11.3331 31.6522 9.1952 30.3826 7.45279 28.66C5.71038 26.9374 4.41648 24.8141 3.68421 22.4759C2.95195 20.1377 2.8036 17.6557 3.25216 15.2469C3.70071 12.8382 4.73251 10.5759 6.25733 8.65804C7.78216 6.74014 9.75359 5.22497 11.9993 4.245' stroke='#CFE5FF' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
			path(d='M32.9993 18C32.9993 16.0302 32.6113 14.0796 31.8575 12.2597C31.1036 10.4399 29.9987 8.78628 28.6059 7.3934C27.213 6.00052 25.5594 4.89563 23.7395 4.14181C21.9196 3.38799 19.9691 3 17.9993 3V18H32.9993Z' stroke='#CFE5FF' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')

	else if ( name === 'support')
		svg(width='31' height='30' viewbox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg')
			path(d='M28.677 14.25C28.6822 16.2298 28.2196 18.1829 27.327 19.95C26.2687 22.0677 24.6416 23.8488 22.6282 25.094C20.6147 26.3391 18.2944 26.9991 15.927 27C13.9472 27.0052 11.9942 26.5426 10.227 25.65L1.677 28.5L4.527 19.95C3.6344 18.1829 3.17184 16.2298 3.177 14.25C3.17792 11.8827 3.83792 9.56232 5.08308 7.54887C6.32824 5.53542 8.10938 3.90839 10.227 2.85004C11.9942 1.95744 13.9472 1.49488 15.927 1.50004H16.677C19.8035 1.67253 22.7566 2.99218 24.9707 5.20633C27.1849 7.42048 28.5045 10.3735 28.677 13.5V14.25Z' stroke='#CFE5FF' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')

	else if ( name === 'workaround')
		svg(width='37' height='36' viewbox='0 0 37 36' fill='none' xmlns='http://www.w3.org/2000/svg')
			path(d='M27.177 24L33.177 18L27.177 12' stroke='#CFE5FF' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
			path(d='M9.177 12L3.177 18L9.177 24' stroke='#CFE5FF' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
			path(d='M21.927 6L14.427 30' stroke='#CFE5FF' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
	else if ( name === 'modules' )
	
		svg(width='64' height='64' viewbox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg')
			path(d='M32 53.3333C37.6579 53.3333 43.0841 51.0857 47.0849 47.0849C51.0857 43.0841 53.3333 37.6579 53.3333 32C53.3333 26.342 51.0857 20.9158 47.0849 16.915C43.0841 12.9142 37.6579 10.6666 32 10.6666C26.342 10.6666 20.9158 12.9142 16.915 16.915C12.9142 20.9158 10.6666 26.342 10.6666 32C10.6666 37.6579 12.9142 43.0841 16.915 47.0849C20.9158 51.0857 26.342 53.3333 32 53.3333V53.3333Z' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
			path(d='M32 37.3333C33.4144 37.3333 34.771 36.7714 35.7712 35.7712C36.7714 34.771 37.3333 33.4144 37.3333 32C37.3333 30.5855 36.7714 29.2289 35.7712 28.2287C34.771 27.2285 33.4144 26.6666 32 26.6666C30.5855 26.6666 29.2289 27.2285 28.2287 28.2287C27.2285 29.2289 26.6666 30.5855 26.6666 32C26.6666 33.4144 27.2285 34.771 28.2287 35.7712C29.2289 36.7714 30.5855 37.3333 32 37.3333Z' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
			path(d='M32 5.33337V10.6667' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
			path(d='M32 58.6667V53.3334' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
			path(d='M45.3333 55.0933L42.6666 50.48' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
			path(d='M29.3333 27.3866L18.6666 8.90662' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
			path(d='M55.0933 45.3333L50.48 42.6666' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
			path(d='M8.90662 18.6666L13.52 21.3333' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
			path(d='M37.3334 32H58.6667' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
			path(d='M5.33337 32H10.6667' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
			path(d='M55.0933 18.6666L50.48 21.3333' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
			path(d='M8.90662 45.3333L13.52 42.6666' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
			path(d='M45.3333 8.90662L42.6666 13.52' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
			path(d='M29.3333 36.6133L18.6666 55.0933' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')


