@use "../abstracts/" as *;

.support {
  &__wrapper {
    @include larger-than(lg) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: rem(20);
      grid-template-areas:
        "header stats"
        "description stats"
        "trouble stats"
        "socials stats";
    }
  }

  &__header {
    margin-bottom: rem(55);
    @include larger-than(lg) {
      grid-area: header;
    }
  }

  &__description {
    margin-bottom: rem(50);

    @include larger-than(md) {
      grid-area: description;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: rem(20);
    }
  }

  &__card {
    margin-bottom: rem(20);
    padding: 1rem rem(27);
    border-radius: rem(20);
    background-color: var(--clr-neutral-100);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: var(--clr-neutral-100);
      transform: rotate(8deg);
      border-radius: rem(20);
      opacity: 0.2;
    }

    &:nth-child(even) {
      &::before {
        transform: rotate(-8deg);
      }
    }
  }

  &__text {
    display: flex;
    align-items: flex-start;
    gap: rem(8);
    line-height: 1.2;

    &::before {
      content: "";
      flex: 0 0 rem(24);
      aspect-ratio: 1;
      background: {
        repeat: no-repeat;
        size: contain;
        position: center;
      }
    }

    &--time {
      &::before {
        background-image: url("../img/clock-sm.svg");
      }
    }

    &--person {
      &::before {
        background-image: url("../img/person-sm.svg");
      }
    }
  }

  &__notation {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: 2rem;
    margin-top: rem(11);
    line-height: 1.2;

    span {
      line-height: 1;
    }
  }

  &__trouble {
    grid-area: trouble;
    margin-bottom: rem(20);
  }

  &__socials {
    grid-area: socials;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: rem(10);
  }

  &__social {
    @include size(box, 50);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:hover {
      &::before {
        background-color: hsla(0, 0%, 100%, 0.3);
      }
    }

    &::before {
      content: "";
      @include transition();
      position: absolute;
      inset: 0;
      background: {
        repeat: no-repeat;
        size: rem(24) rem(24);
        position: center;
        color: hsla(0, 0%, 100%, 0.15);
      }
    }

    &--vb {
      &::before {
        background-image: url(../img/vb.svg);
      }
    }

    &--tg {
      &::before {
        background-image: url(../img/tg.svg);
      }
    }

    &--wa {
      &::before {
        background-image: url(../img/wa.svg);
      }
    }

    a {
      @include size(full);
      position: relative;
      z-index: 3;
      text-indent: -1000rem;
      display: block;
    }
  }

  &__stats {
    margin-top: 2rem;
    padding: rem(25);
    border-radius: rem(20);

    @include larger-than(md) {
      display: grid;
      grid-template-areas:
        "title title"
        "appeal amount";
    }

    @include larger-than(lg) {
      padding: rem(50) rem(60);
      grid-area: stats;
    }
  }

  &__title {
    margin-bottom: 2rem;

    @include larger-than(md) {
      margin-bottom: 0;
      grid-area: title;
    }
  }

  &__appeal {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: rem(64);
    text-align: center;
    line-height: 1;

    @include larger-than(md) {
      grid-area: appeal;
    }

    &::before {
      content: "";
      flex: 0 0 rem(48);
      aspect-ratio: 1;
      background: {
        image: url("../img/mail-pr.svg");
        repeat: no-repeat;
        size: container;
        position: center;
      }
    }

    span {
      line-height: 1.1;
    }
  }

  &__list {
    grid-area: amount;
    list-style-type: none;
  }

  &__appreciation {
    text-align: center;
    margin-top: rem(20);
    margin-bottom: rem(20);

    @include larger-than(md) {
      text-align: left;
      margin-top: 0;
    }
  }

  &__rating {
    display: flex;

    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__number {
    min-width: rem(50);
    display: inline-flex;
    justify-content: flex-end;

    span {
      padding: rem(4) rem(10);
      border-radius: rem(8);
      background-color: var(--clr-primary-100);
    }
  }

  &__vote {
    display: inline-flex;
    align-items: center;

    &::before {
      content: "—";
      margin: 0 rem(6);
    }
  }
}
