$ff: "Onest, Arial, Helvetica, sans-serif";

$font-weights: (
  400: 400,
  500: 500,
  700: 700
);

$type-scale: (
  300: 13px,
  //13
  400: 16px,
  //16
  500: 20px,

  // 20
  600: 24px,
  //24
  700: 30px,
  //30
  800: 30px,
  //36
  900: 36px //54
);
