section.feedback
	.wrapper.feedback__wrapper
		header.feedback__heading
			h2.heading--200 Кто нас может порекомендовать
			button.btn.btn--primary.btn--lg Хочу попробовать

		.slider
			.swiper.js-feedback
				.swiper-wrapper
					.swiper-slide
						.feedback__card
							figure.feedback__logo
								img(src='img/f1.png')
							
							.feedback__content
								p.feedback__text.js-readMore.text--fw-400.text--fs-300.text--primary-200.
									Лучший продукт на рынке. Полностью подходит под нашу специфику деятельности. Лучший продукт на рынке. Полностью подходит под нашу специфику деятельности.
									Лучший продукт на рынке. Полностью подходит под нашу специфику деятельности. Лучший продукт на рынке. Полностью подходит под нашу специфику деятельности.

								p.feedback__person.text--fw-500
									span Исполнительный директор
									span Виктория Бабешко

					.swiper-slide
						.feedback__card
							figure.feedback__logo
								img(src='img/f2.png')
							
							.feedback__content
								p.feedback__text.js-readMore.text--fw-400.text--fs-300.text--primary-200.
									Лучший продукт на рынке. Полностью подходит под нашу специфику деятельности. Лучший продукт на рынке. Полностью подходит под нашу специфику деятельности.

								p.feedback__person.text--fw-500
									span Исполнительный директор
									span Виктория Бабешко

					.swiper-slide
						.feedback__card
							figure.feedback__logo
								img(src='img/no-logo.svg')
							
							.feedback__content
								p.feedback__text.js-readMore.text--fw-400.text--fs-300.text--primary-200.
									Лучший продукт на рынке. Полностью подходит под нашу специфику деятельности. Лучший продукт на рынке. Полностью подходит под нашу специфику деятельности.

								p.feedback__person.text--fw-500
									span Исполнительный директор
									span Виктория Бабешко
					.swiper-slide
						.feedback__card
							figure.feedback__logo
								img(src='img/f1.png')
							
							.feedback__content
								p.feedback__text.js-readMore.text--fw-400.text--fs-300.text--primary-200.
									Лучший продукт на рынке. Полностью подходит под нашу специфику деятельности. Лучший продукт на рынке. Полностью подходит под нашу специфику деятельности.

								p.feedback__person.text--fw-500
									span Исполнительный директор
									span Виктория Бабешко

					.swiper-slide
						.feedback__card
							figure.feedback__logo
								img(src='img/f2.png')
							
							.feedback__content
								p.feedback__text.js-readMore.text--fw-400.text--fs-300.text--primary-200.
									Лучший продукт на рынке. Полностью подходит под нашу специфику деятельности. Лучший продукт на рынке. Полностью подходит под нашу специфику деятельности.
									Лучший продукт на рынке. Полностью подходит под нашу специфику деятельности. Лучший продукт на рынке. Полностью подходит под нашу специфику деятельности.

								p.feedback__person.text--fw-500
									span Исполнительный директор
									span Виктория Бабешко

					.swiper-slide
						.feedback__card
							figure.feedback__logo
								img(src='img/no-logo.svg')
							
							.feedback__content
								p.feedback__text.js-readMore.text--fw-400.text--fs-300.text--primary-200.
									Лучший продукт на рынке. Полностью подходит под нашу специфику деятельности. Лучший продукт на рынке. Полностью подходит под нашу специфику деятельности.

								p.feedback__person.text--fw-500
									span Исполнительный директор
									span Виктория Бабешко

			
			.slider__controls
				.slider__btn.slider__btn--prev.js-prev
				.slider__btn.slider__btn--next.js-next
