footer.footer.bg--primary-100
	.wrapper.footer__wrapper
		.footer__info
			.footer__logo
				img(src="img/logo-invert.svg", alt="")
				p.text--fs-400.text--fw-400 Лучшая программа для автоматизации автоломбарда

			.footer__copyright
				p.text--fs-400.text--fw-700 © 2023, XLombard
				a(href="") Конфиденциальность и обработка персональных данных 

		nav.footer__nav
			ul.footer__list
				p.text--fs-500.text--fw-700.footer__caption О продукте
				li.footer__item: a(href="").text--fs-400.text--fw-400 Возможности
				li.footer__item: a(href="").text--fs-400.text--fw-400 Преимущества
				li.footer__item: a(href="").text--fs-400.text--fw-400 Поддержка
				li.footer__item: a(href="").text--fs-400.text--fw-400 Обновления
				li.footer__item: a(href="").text--fs-400.text--fw-400 Интеграции
				li.footer__item: a(href="").text--fs-400.text--fw-400 Документация

			ul.footer__list
				p.text--fs-500.text--fw-700.footer__caption О нас
				li.footer__item: a(href="").text--fs-400.text--fw-400 Константы
				li.footer__item: a(href="").text--fs-400.text--fw-400 Экспертиза

		.footer__callback
			button.btn.btn--outline-light.btn--lg Попробовать бесплатно

			address.footer__address
				a(href="tel: +7 (495) 677-95-51").text--fs-600.text--fw-700.footer__phone +7 (495) 677-95-51
				a(href="").text--fs-400.text--fw-400 Заказать обратный звонок

			ul.support__socials
				li.support__social.support__social--tg: a(href='') Telegram
				li.support__social.support__social--wa: a(href='') Watsapp