section.ideal
	.wrapper.ideal__wrapper
		header.ideal__heading
			h2.heading--200 Идеально  для любого автоломбарда

			figure.ideal__img
				img(src='img/pts.svg' alt='ПТС')

		.ideal__list
			.ideal__item
				h4.ideal__name Обратный лизинг
				p.text--secondary-400.text--fs-400.text--fw-500 Описание типа ломбарда на две строки

				.ideal__type.icon
					img(src='img/file.svg')
					p.text--secondary-300.text--fw-700.text--fs-400 ДКП + ДФА

			.ideal__item
				h4.ideal__name МФО или КПК
				p.text--secondary-400.text--fs-400.text--fw-500 Описание типа ломбарда на две строки

				.ideal__type.icon
					img(src='img/file.svg')
					p.text--secondary-300.text--fw-700.text--fs-400 Залоговый билет

			.ideal__item
				h4.ideal__name Ломбард Сlassic
				p.text--secondary-400.text--fs-400.text--fw-500 Описание типа ломбарда на две строки

				.ideal__type.icon
					img(src='img/file.svg')
					p.text--secondary-300.text--fw-700.text--fs-400 Займ+Залог

		.ideal__special
			h3.heading--300 Создали специальную конфигурацию для обратного лизинга
			p.text--primary-200.text--fs-500.text--fw-500.ideal__notation Учли все тонкости бизнеса и подключили необходимые сервисы

			button.btn.btn--primary.btn--lg Сел и поехал
