section.integration
	.wrapper.integration__wrapper
		header.integration__heading
			h2.heading--200 Интеграции с различными системами

		.integration__service
			.integration__figure
				p.text--primary-200.text--fw-700 Интеграции
				figure.integration__img
					img(src='img/f-x.svg')
				p.text--primary-200.text--fw-700
					span.text--primary-100.text--fs-400 X
					| Lombard

			ul.integration__list
				li.integration__item
					.integration__count.js-count
						button.integration__amount.js-circle(data-amount='3' data-integration-id='1')
							span 1
						span.integration__type.text--fw-500.text--primary-100 Кассы
				li.integration__item
					.integration__count.js-count
						button.integration__amount.js-circle(data-amount='5' data-integration-id='2')
							span 2
						span.integration__type.text--fw-500.text--primary-100 IP-телефония
				li.integration__item
					.integration__count.js-count
						button.integration__amount.js-circle(data-amount='7' data-integration-id='3')
							span 3
						span.integration__type.text--fw-500.text--primary-100 SMS-сервисы
				li.integration__item
					.integration__count.js-count
						button.integration__amount.js-circle(data-amount='4' data-integration-id='4')
							span 4
						span.integration__type.text--fw-500.text--primary-100 Отраслевые решения
				li.integration__item
					.integration__count.js-count
						button.integration__amount.js-circle(data-amount='6' data-integration-id='5')
							span 5
						span.integration__type.text--fw-500.text--primary-100 Банки и эквайринг
				li.integration__item
					.integration__count.js-count
						button.integration__amount.js-circle(data-amount='2' data-integration-id='6')
							span 6
						span.integration__type.text--fw-500.text--primary-100 GPS-маяки
				li.integration__item
					.integration__count.js-count
						button.integration__amount.js-circle(data-amount='1' data-integration-id='7')
							span 7
						span.integration__type.text--fw-500.text--primary-100 Сервисы проверок
				li.integration__item
					.integration__count.js-count
						button.integration__amount.js-circle(data-amount='7' data-integration-id='8')
							span 8
						span.integration__type.text--fw-500.text--primary-100 Телематика
				li.integration__item
					.integration__count.js-count
						button.integration__amount.js-circle(data-amount='9' data-integration-id='9')
							span 9
						span.integration__type.text--fw-500.text--primary-100 Системы бухучёта (ЕПС)
				li.integration__item
					.integration__count.js-count
						button.integration__amount.js-circle(data-amount='5' data-integration-id='10')
							span 10
						span.integration__type.text--fw-500.text--primary-100 Терминалы приёма и выдачи наличных
				li.integration__item
					.integration__count.js-count
						button.integration__amount.js-circle(data-amount='5' data-integration-id='11')
							span 11
						span.integration__type.text--fw-500.text--primary-100 Лидогенераторы
				li.integration__item
					.integration__count.js-count
						button.integration__amount.js-circle(data-amount='8' data-integration-id='12')
							span 12
						span.integration__type.text--fw-500.text--primary-100 Мессенджеры и соцсети
				li.integration__item
					.integration__count.js-count
						button.integration__amount.js-circle(data-amount='9' data-integration-id='13')
							span 13
						span.integration__type.text--fw-500.text--primary-100 Системы сквозной аналитики
				li.integration__item
					.integration__count.js-count
						button.integration__amount.js-circle(data-amount='5' data-integration-id='14')
							span 14
						span.integration__type.text--fw-500.text--primary-100 Государственные, надзорные и системы отчетности

		.integration__description
			.integration__tab.js-integration-tab.js-default.integration__tab--current
				h4.text--overline Интеграционные модули позволяют существенно оптимизировать ежедневную работу сотрудников
				p.text--fw-400.text--secondary-400 Выберите на схеме направление, в котором вас интересует интеграция, и мы покажем с какими системами она доступна
			.integration__tab.js-integration-tab(data-integration-tab='1')
				button.js-close.integration__close
				h3 Кассы
				ul.integration__testimonials
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Base Docs
						p.text--fw-400.text--fs-400.text--secondary-400 Генерации актов осмотра ТС с фиксацией повреждений
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Циклотрон Модуль
						p.text--fw-400.text--fs-400.text--secondary-400 Мониторинг состояния движимых залогов на предмет ДТП
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Модуль Геовизор
						p.text--fw-400.text--fs-400.text--secondary-400 Построение рейтинга водителя по стилю езды и нарушений ПДД
			.integration__tab.js-integration-tab(data-integration-tab='2')
				button.js-close.integration__close
				h3 IP-телефония
				ul.integration__testimonials
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Base Docs
						p.text--fw-400.text--fs-400.text--secondary-400 Генерации актов осмотра ТС с фиксацией повреждений
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Циклотрон Модуль
						p.text--fw-400.text--fs-400.text--secondary-400 Мониторинг состояния движимых залогов на предмет ДТП
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Модуль Геовизор
						p.text--fw-400.text--fs-400.text--secondary-400 Построение рейтинга водителя по стилю езды и нарушений ПДД
			.integration__tab.js-integration-tab(data-integration-tab='3')
				button.js-close.integration__close
				h3 SMS-сервисы
				ul.integration__testimonials
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Base Docs
						p.text--fw-400.text--fs-400.text--secondary-400 Генерации актов осмотра ТС с фиксацией повреждений
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Циклотрон Модуль
						p.text--fw-400.text--fs-400.text--secondary-400 Мониторинг состояния движимых залогов на предмет ДТП
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Модуль Геовизор
						p.text--fw-400.text--fs-400.text--secondary-400 Построение рейтинга водителя по стилю езды и нарушений ПДД
			.integration__tab.js-integration-tab(data-integration-tab='4')
				button.js-close.integration__close
				h3 Отраслевые решения
				ul.integration__testimonials
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Base Docs
						p.text--fw-400.text--fs-400.text--secondary-400 Генерации актов осмотра ТС с фиксацией повреждений
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Циклотрон Модуль
						p.text--fw-400.text--fs-400.text--secondary-400 Мониторинг состояния движимых залогов на предмет ДТП
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Модуль Геовизор
						p.text--fw-400.text--fs-400.text--secondary-400 Построение рейтинга водителя по стилю езды и нарушений ПДД
			.integration__tab.js-integration-tab(data-integration-tab='5')
				button.js-close.integration__close
				h3 Банки и эквайринг
				ul.integration__testimonials
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Base Docs
						p.text--fw-400.text--fs-400.text--secondary-400 Генерации актов осмотра ТС с фиксацией повреждений
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Циклотрон Модуль
						p.text--fw-400.text--fs-400.text--secondary-400 Мониторинг состояния движимых залогов на предмет ДТП
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Модуль Геовизор
						p.text--fw-400.text--fs-400.text--secondary-400 Построение рейтинга водителя по стилю езды и нарушений ПДД
			.integration__tab.js-integration-tab(data-integration-tab='6')
				button.js-close.integration__close
				h3 GPS-маяки
				ul.integration__testimonials
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Base Docs
						p.text--fw-400.text--fs-400.text--secondary-400 Генерации актов осмотра ТС с фиксацией повреждений
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Циклотрон Модуль
						p.text--fw-400.text--fs-400.text--secondary-400 Мониторинг состояния движимых залогов на предмет ДТП
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Модуль Геовизор
						p.text--fw-400.text--fs-400.text--secondary-400 Построение рейтинга водителя по стилю езды и нарушений ПДД
			.integration__tab.js-integration-tab(data-integration-tab='7')
				button.js-close.integration__close
				h3 Сервисы проверок
				ul.integration__testimonials
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Base Docs
						p.text--fw-400.text--fs-400.text--secondary-400 Генерации актов осмотра ТС с фиксацией повреждений
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Циклотрон Модуль
						p.text--fw-400.text--fs-400.text--secondary-400 Мониторинг состояния движимых залогов на предмет ДТП
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Модуль Геовизор
						p.text--fw-400.text--fs-400.text--secondary-400 Построение рейтинга водителя по стилю езды и нарушений ПДД
			.integration__tab.js-integration-tab(data-integration-tab='8')
				button.js-close.integration__close
				h3 Телематика
				ul.integration__testimonials
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Base Docs
						p.text--fw-400.text--fs-400.text--secondary-400 Генерации актов осмотра ТС с фиксацией повреждений
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Циклотрон Модуль
						p.text--fw-400.text--fs-400.text--secondary-400 Мониторинг состояния движимых залогов на предмет ДТП
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Модуль Геовизор
						p.text--fw-400.text--fs-400.text--secondary-400 Построение рейтинга водителя по стилю езды и нарушений ПДД
			.integration__tab.js-integration-tab(data-integration-tab='9')
				button.js-close.integration__close
				h3 Системы бухучёта (ЕПС)
				ul.integration__testimonials
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Base Docs
						p.text--fw-400.text--fs-400.text--secondary-400 Генерации актов осмотра ТС с фиксацией повреждений
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Циклотрон Модуль
						p.text--fw-400.text--fs-400.text--secondary-400 Мониторинг состояния движимых залогов на предмет ДТП
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Модуль Геовизор
						p.text--fw-400.text--fs-400.text--secondary-400 Построение рейтинга водителя по стилю езды и нарушений ПДД
			.integration__tab.js-integration-tab(data-integration-tab='10')
				button.js-close.integration__close
				h3 Терминалы приёма и выдачи наличных
				ul.integration__testimonials
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Base Docs
						p.text--fw-400.text--fs-400.text--secondary-400 Генерации актов осмотра ТС с фиксацией повреждений
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Циклотрон Модуль
						p.text--fw-400.text--fs-400.text--secondary-400 Мониторинг состояния движимых залогов на предмет ДТП
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Модуль Геовизор
						p.text--fw-400.text--fs-400.text--secondary-400 Построение рейтинга водителя по стилю езды и нарушений ПДД
			.integration__tab.js-integration-tab(data-integration-tab='11')
				button.js-close.integration__close
				h3 Лидогенераторы
				ul.integration__testimonials
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Base Docs
						p.text--fw-400.text--fs-400.text--secondary-400 Генерации актов осмотра ТС с фиксацией повреждений
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Циклотрон Модуль
						p.text--fw-400.text--fs-400.text--secondary-400 Мониторинг состояния движимых залогов на предмет ДТП
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Модуль Геовизор
						p.text--fw-400.text--fs-400.text--secondary-400 Построение рейтинга водителя по стилю езды и нарушений ПДД
			.integration__tab.js-integration-tab(data-integration-tab='12')
				button.js-close.integration__close
				h3 Мессенджеры и соцсети
				ul.integration__testimonials
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Base Docs
						p.text--fw-400.text--fs-400.text--secondary-400 Генерации актов осмотра ТС с фиксацией повреждений
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Циклотрон Модуль
						p.text--fw-400.text--fs-400.text--secondary-400 Мониторинг состояния движимых залогов на предмет ДТП
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Модуль Геовизор
						p.text--fw-400.text--fs-400.text--secondary-400 Построение рейтинга водителя по стилю езды и нарушений ПДД
			.integration__tab.js-integration-tab(data-integration-tab='13')
				button.js-close.integration__close
				h3 Системы сквозной аналитики
				ul.integration__testimonials
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Base Docs
						p.text--fw-400.text--fs-400.text--secondary-400 Генерации актов осмотра ТС с фиксацией повреждений
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Циклотрон Модуль
						p.text--fw-400.text--fs-400.text--secondary-400 Мониторинг состояния движимых залогов на предмет ДТП
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Модуль Геовизор
						p.text--fw-400.text--fs-400.text--secondary-400 Построение рейтинга водителя по стилю езды и нарушений ПДД
			.integration__tab.js-integration-tab(data-integration-tab='14')
				button.js-close.integration__close
				h3 Государственные, надзорные и системы отчетности
				ul.integration__testimonials
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Base Docs
						p.text--fw-400.text--fs-400.text--secondary-400 Генерации актов осмотра ТС с фиксацией повреждений
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Циклотрон Модуль
						p.text--fw-400.text--fs-400.text--secondary-400 Мониторинг состояния движимых залогов на предмет ДТП
					li.integration__testimonial
						p.integration__name.text--fw-400.text--fs-500.text--primary-200 Модуль Геовизор
						p.text--fw-400.text--fs-400.text--secondary-400 Построение рейтинга водителя по стилю езды и нарушений ПДД
