include ../components/logo
include ../components/nav
include ../components/btn


section.navigation
	.wrapper.navigation__wrapper
		+logo()(class='navigation__logo')
		+nav(Navigation.links)(class='navigation__nav')
		
		.navigation__free-try
			+btn(Navigation.button)(class='navigation__btn')

		.navigation__contacts
			each contact in Navigation.contacts
				a(href='' class=`navigation__contact ${contact.mod}`)= contact.text

