section.opportunity
	.wrapper.opportunity__wrapper
		header.opportunity__heading
			h2.heading--200.opportunity__caption Возможности
				span.text--primary-100  XLombard BPM System

			button.btn.btn--primary.btn--lg Попробовать бесплатно

		.opportunity__controls
			button.btn.btn--outline.js-tab-trigger(data-tab-trigger='1') Лидогенерация и обработка заявок
			button.btn.btn--outline.js-tab-trigger(data-tab-trigger='2') Скоринг и комплексная проверка заёмщика
			button.btn.btn--outline.js-tab-trigger(data-tab-trigger='3') Оформление договора и выдача ДС заёмщику
			button.btn.btn--outline Операционный учёт текущих договоров
			button.btn.btn--outline Полный контроль общения с клиентом
			button.btn.btn--outline Управленческие отчёты, аналитика и виджеты
			button.btn.btn--outline Учёт всех расходов и доходов
			button.btn.btn--outline Реализация залогового имущества

		.opportunity__tabs
			.opportunity__group.opportunity__group--current.js-group(data-tab-id='1')
				.opportunity__tab
					.opportunity__icon
						img(src='img/file-input.svg')

					.opportunity__description

						p.opportunity__title.text--primary-200.text--fs-500.text--fw-500.text--overline Агрегатор заявок

						p.text--primary-200.text--fs-400 Агрегатор заявок на займ из различных источников (веб-сайтов, партнеров компании и т.д.), позволяет более качественно управлять входящими обращениями клиентов

				.opportunity__tab
					.opportunity__icon
						img(src='img/bell-ring.svg')
					.opportunity__description
						p.opportunity__title.text--primary-200.text--fs-500.text--fw-500.text--overline Агрегатор заявок

						p.text--primary-200.text--fs-400 Агрегатор заявок на займ из различных источников (веб-сайтов, партнеров компании и т.д.), позволяет более качественно управлять входящими обращениями клиентов
				.opportunity__tab
					.opportunity__icon
						img(src='img/slash.svg')
					.opportunity__description
						p.opportunity__title.text--primary-200.text--fs-500.text--fw-500.text--overline Агрегатор заявок

						p.text--primary-200.text--fs-400 Агрегатор заявок на займ из различных источников (веб-сайтов, партнеров компании и т.д.), позволяет более качественно управлять входящими обращениями клиентов
			.opportunity__group.js-group(data-tab-id='2')
				.opportunity__tab
					.opportunity__icon
						img(src='img/file-input.svg')

					.opportunity__description

						p.opportunity__title.text--primary-200.text--fs-500.text--fw-500.text--overline Агрегатор заявок 2

						p.text--primary-200.text--fs-400 Агрегатор заявок на займ из различных источников (веб-сайтов, партнеров компании и т.д.), позволяет более качественно управлять входящими обращениями клиентов
				.opportunity__tab
					.opportunity__icon
						img(src='img/bell-ring.svg')
					.opportunity__description
						p.opportunity__title.text--primary-200.text--fs-500.text--fw-500.text--overline Агрегатор заявок 2

						p.text--primary-200.text--fs-400 Агрегатор заявок на займ из различных источников (веб-сайтов, партнеров компании и т.д.), позволяет более качественно управлять входящими обращениями клиентов
				.opportunity__tab
					.opportunity__icon
						img(src='img/slash.svg')
					.opportunity__description
						p.opportunity__title.text--primary-200.text--fs-500.text--fw-500.text--overline Агрегатор заявок 2

						p.text--primary-200.text--fs-400 Агрегатор заявок на займ из различных источников (веб-сайтов, партнеров компании и т.д.), позволяет более качественно управлять входящими обращениями клиентов
			.opportunity__group.js-group(data-tab-id='3')
				.opportunity__tab
					.opportunity__icon
						img(src='img/file-input.svg')

					.opportunity__description

						p.opportunity__title.text--primary-200.text--fs-500.text--fw-500.text--overline Агрегатор заявок 3

						p.text--primary-200.text--fs-400 Агрегатор заявок на займ из различных источников (веб-сайтов, партнеров компании и т.д.), позволяет более качественно управлять входящими обращениями клиентов
				.opportunity__tab
					.opportunity__icon
						img(src='img/bell-ring.svg')
					.opportunity__description
						p.opportunity__title.text--primary-200.text--fs-500.text--fw-500.text--overline Агрегатор заявок 3

						p.text--primary-200.text--fs-400 Агрегатор заявок на займ из различных источников (веб-сайтов, партнеров компании и т.д.), позволяет более качественно управлять входящими обращениями клиентов
				.opportunity__tab
					.opportunity__icon
						img(src='img/slash.svg')
					.opportunity__description
						p.opportunity__title.text--primary-200.text--fs-500.text--fw-500.text--overline Агрегатор заявок 3

						p.text--primary-200.text--fs-400 Агрегатор заявок на займ из различных источников (веб-сайтов, партнеров компании и т.д.), позволяет более качественно управлять входящими обращениями клиентов