section.support.bg--primary-100
	.wrapper.support__wrapper
		header.support__header
			h2.heading--200.text--neutral-100 Техническая поддержка онлайн всегда
		
		.support__description
			.support__card
				p.text--primary-200.text--fw-500.text--fs-500.support__text.support__text--time Время реакции менее

				p.text--secondary-400.text--fw-500.support__notation
					span.text--fs-900.text--primary-200.text--fw-700 5
					| минут <br>(в рабочее время)

			.support__card
				p.text--primary-200.text--fw-500.text--fs-500.support__text.support__text--person На линии всегда не менее

				p.text--secondary-400.text--fw-500.support__notation
					span.text--fs-900.text--primary-200.text--fw-700 3
					| сотрудника<br> онлайн

		p.support__trouble.text--neutral-100.text--fs-400.text--fw-400 Если возникла какая-либо сложность с программой, то всегда можно написать в месенджеры или позвонить по телефону в квалифицированную техническую поддержку.

		ul.support__socials
			li.support__social.support__social--vb: a(href='') Viber
			li.support__social.support__social--tg: a(href='') Telegram
			li.support__social.support__social--wa: a(href='') Watsapp

		.support__stats.bg--neutral-100
			
			h3.support__title Статистика 
				span.text--primary-100 за октябрь 2022

			p.support__appeal.text--primary-200.text--fw-700 408
				span.text--fs-500.text--fw-500 обращений клиентов обработано
				

			.support__amount
				p.text--fw-500.text--primary-200.text--fs-500.text--fw-700.support__appreciation Сколько раз за месяц нам сказали

				ul.support__list
					li.support__rating.text--fw-700.text--fs-400
						.support__number
							span.text--neutral-100 133 
						span.support__vote.text--primary-200 Большое спасибо
					li.support__rating.text--fw-700.text--fs-
						.support__number
							span.text--neutral-100 23
						span.support__vote.text--primary-200 Отлично
					li.support__rating.text--fw-700.text--fs-400
						.support__number
							span.text--neutral-100 12
						span.support__vote.text--primary-200 Супер
					li.support__rating.text--fw-700.text--fs-400
						.support__number
							span.text--neutral-100 4
						span.support__vote.text--primary-200 Великолепно