section.testimonials
	.wrapper.testimonials__wrapper
		header.testimonials__heading
			h2.heading--200 Ни у кого нет - 
				span.text--primary-100 а у нас есть!
			button.btn.btn--md.btn--primary Заказать презентацию системы

		.testimonials__list
			.testimonials__item.bg--neutral-100
				.testimonials__title
					h4.text--overline.text--fs-500.text--fw-500 Электронный акт осмотра ТС
				p.testimonials__text.text--secondary-400.text--fs-400.text--fw-400 Позволяет фиксировать все повреждения ТС в электронном виде на планшете
			.testimonials__item.bg--neutral-100
				.testimonials__title
					h4.text--overline.text--fs-500.text--fw-500 Регулярная проверка портфеля по ГИБДД
				p.testimonials__text.text--secondary-400.text--fs-400.text--fw-400 Позволяет оперативно узнавать о новых ограничениях, изменениях регистрационных данных и т.д.
			.testimonials__item.bg--neutral-100
				.testimonials__title
					h4.text--overline.text--fs-500.text--fw-500 Корсар — куда уходят ваши клиент
				p.testimonials__text.text--secondary-400.text--fs-400.text--fw-400 Позволяет узнать, куда ушёл клиент при отказе от сделки или где перезаложился, если уже был залог
			.testimonials__item.bg--neutral-100
				.testimonials__title
					h4.text--overline.text--fs-500.text--fw-500 Полностью адаптивный интерфейс
				p.testimonials__text.text--secondary-400.text--fs-400.text--fw-400 Настройка отображения только необходимы данных для работы конкретного сотрудника или роли
			.testimonials__item.bg--neutral-100
				.testimonials__title
					h4.text--overline.text--fs-500.text--fw-500 GPS-мониторинг текущего портфеля
				p.testimonials__text.text--secondary-400.text--fs-400.text--fw-400 Узнаем статусы маяков ТС непосредственно из сервисов телематики
			.testimonials__item.bg--neutral-100
				.testimonials__title
					h4.text--overline.text--fs-500.text--fw-500 Личный кабинет инвестора
				p.testimonials__text.text--secondary-400.text--fs-400.text--fw-400 Сделали удобный кабинет, где можно наблюдать все начисленные и выплаченные проценты