section.total
	.wrapper.total__wrapper
		header.total__heading
			h2 Подводим итоги 2022 года

		.total__list
			.total__item.icon
				p.total__number.text--fw-700.text--primary-200 +28
				p.text--fw-500.text--primary-200.text--fs-600 городов присутствия нашей программы
			.total__item.icon
				p.total__number.text--fw-700.text--primary-200 +6
				p.text--fw-500.text--primary-200.text--fs-600 новых модулей разработано 
			.total__item.icon
				p.total__number.text--fw-700.text--primary-200 +9
				p.text--fw-500.text--primary-200.text--fs-600 новых интеграций добавлено 
			.total__item.icon.total__item--has-icon
				p.total__number.total__number--puzzle.text--fw-700.text--primary-200 240
				p.text--fw-500.text--primary-200.text--fs-600.total__description Сделано больших и маленьких доработок уже существующих модулей
			.total__item.icon.total__item--has-icon
				p.total__number.total__number--check.text--fw-700.text--primary-200 210
				p.text--fw-500.text--primary-200.text--fs-600.total__description Исправлено недочетов в программе
			.total__item.icon.total__item--has-icon
				p.total__number.total__number--mail.text--fw-700.text--primary-200 2109
				p.text--fw-500.text--primary-200.text--fs-600.total__description Обработано обращений клиентов в техническую поддержку
			.total__item.icon.total__item--has-icon
				p.total__number.total__number--profile.text--fw-700.text--primary-200 14
				p.text--fw-500.text--primary-200.text--fs-600.total__description Пришло новых людей в коллектив XLombard 