section.update
	.wrapper.update__wrapper
		header.update__heading
			h2.heading--200 Обновления программы
			p.text--primary-200.text--fs-400.text--fw-500 Мы постоянно работаем над улучшением системы XLombard

		.slider
			.swiper.js-update
				.swiper-wrapper
					.swiper-slide
						.update__card
							.update__content
								h4.text--overline 22.01.2023
								p.text--fs-300.text--fw-400 Реализовано доработок: 8
								p.text--fs-300.text--fw-400 Исправлено ошибок: 2

							.update__link
								a(href='').text--primary-100.text--fw-400.text--fs-300 Релиз 3.48.1.0
					.swiper-slide
						.update__card
							.update__content
								h4.text--overline 22.01.2023
								p.text--fs-300.text--fw-400 Реализовано доработок: 8
								p.text--fs-300.text--fw-400 Исправлено ошибок: 2

							.update__link
								a(href='').text--primary-100.text--fw-400.text--fs-300 Релиз 3.48.1.0
					.swiper-slide
						.update__card
							.update__content
								h4.text--overline 22.01.2023
								p.text--fs-300.text--fw-400 Реализовано доработок: 8
								p.text--fs-300.text--fw-400 Исправлено ошибок: 2

							.update__link
								a(href='').text--primary-100.text--fw-400.text--fs-300 Релиз 3.48.1.0
					.swiper-slide
						.update__card
							.update__content
								h4.text--overline 22.01.2023
								p.text--fs-300.text--fw-400 Реализовано доработок: 8
								p.text--fs-300.text--fw-400 Исправлено ошибок: 2

							.update__link
								a(href='').text--primary-100.text--fw-400.text--fs-300 Релиз 3.48.1.0
					.swiper-slide
						.update__card
							.update__content
								h4.text--overline 22.01.2023
								p.text--fs-300.text--fw-400 Реализовано доработок: 8
								p.text--fs-300.text--fw-400 Исправлено ошибок: 2

							.update__link
								a(href='').text--primary-100.text--fw-400.text--fs-300 Релиз 3.48.1.0
					.swiper-slide
						.update__card
							.update__content
								h4.text--overline 22.01.2023
								p.text--fs-300.text--fw-400 Реализовано доработок: 8
								p.text--fs-300.text--fw-400 Исправлено ошибок: 2

							.update__link
								a(href='').text--primary-100.text--fw-400.text--fs-300 Релиз 3.48.1.0

				.slider__controls
					.slider__btn.slider__btn--prev.js-prev
					.slider__btn.slider__btn--next.js-next